@use 'variables' as *;

/* Buttons */
.button {
  background-color: $color-header-bg;
  color: $color-white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

/* Cart Count Badge */
.cart-count {
  position: absolute;
  top: 9px;
  right: 18px;
  background: $color-cart-bg;
  color: $color-black;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.1rem 0.4rem;
  border-radius: 50%;
}

/* Modal Cart */
.modal-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: $color-white;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  display: none; // show via JS
  z-index: 1000;
}
