{%- liquid
  assign collection = collections['all']

  assign loading = 'lazy'
  if section.location == 'template' and section.index == 1
    assign loading = 'eager'
  endif
-%}

{% if collection and collection.products_count > 0 %}
  {% assign count = 0 %}
  <section class="collection">
    <div class="container">
      <h2 class="collection__title">
        {{ collection.title }}
      </h2>
      <div class="collection__wrapper">
      {% for product in collection.products %}
        {% if product.variants.size == 1 %}

          {%- if count == 1 -%}
            {%- render 'product-card', product: product, promo: true, loading: loading -%}
          {%- else -%}
            {%- render 'product-card', product: product, loading: loading -%}
          {%- endif -%}

          {% assign count = count | plus: 1 %}
          {% if count == 4 %}
            {% break %}
          {% endif %}
        {% endif %}
      {%- endfor -%}
      </div>
    </div>
  </section>
{% else %}
  <p class="collection__empty">No products available.</p>
{% endif %}

{% schema %}
{
  "name": "Collection Template",
  "settings": []
}
{% endschema %}

